.seatsContainer {
  text-align: center;
}
.seatsHolder {
  margin: 10px;
}
.seats {
  cursor: pointer;
  color: #777;
  font-size: 12px;
  font-weight: 700;
  padding: 7px 11px;
}
.colName {
  color: #777;
  font-weight: 700;
  margin-right: 20px;
}
.seatSelected0 {
  color: red !important;
}
.seatNotBooked {
  border: 1px solid rgb(35 154 0);
}
.seatBooked {
  border: 1px solid rgba(138, 138, 138, 0.418);
  background: rgba(138, 138, 138, 0.418);
  cursor: default;
}
.seatSelected {
  border: 1px solid rgb(35 154 0);
  background: rgb(53 212 6);
}